{% extends "recipes/base.html" %}

{% block content %}
    <h1>About</h1>
    <p>I'm Mike Green. I write software. I also apparently write recipes too. So here is some terrible chimera of the two which has frankly taken far more of my time than I ever intended for it to.</p>
    <p>I created Platypus purely for my own use. I wanted to learn new technology and I wanted to convenience myself in the kitchen. In fact, I'm not entirely sure why you're reading this, strange internet person.</p>
    <p>It is written using the Django framework. The source code is <a href="https://github.com/MyNameIsMikeGreen/platypus">hosted on GitHub</a> for you to peruse at your pleasure (If that's how you're choosing to spend your evening).</p>
    <p>You can find other stuff that I do here, you lucky thing: <a href="https://MikeGreen.net/">MikeGreen.net</a></p>
{% endblock content %}
