<!DOCTYPE html>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'recipes/style.css' %}">

<html>
    <head>
        <title>Platypus - Mike Green</title>
    </head>

    <body>
        <div class="platypus-header">
            <div class="platypus-title-text">
                <a href="{% url 'recipes:index' %}">Platypus</a>
            </div>
        </div>
        <div class="platypus-content">
            {% block content %}{% endblock content %}
        </div>
        <footer> <small>&copy; Copyright 2020 Mike Green</small> </footer>
    </body>
</html>