<!DOCTYPE html>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

{% load static %}
<link rel="stylesheet" type="text/css" href="/staticfiles/recipes/style.css">

<html>
    <head>
        <title>Platypus - Mike Green</title>
    </head>

    <body>
        <div id="platypus-header">
            <div id="platypus-title-text">
                <a href="{% url 'recipes:index' %}">Platypus</a>
            </div>
            <div id="platypus-navigation-buttons">
                <a href="{% url 'recipes:index' %}">Recipes</a>
                <a href="{% url 'recipes:about' %}">About</a>
            </div>
        </div>
        <div id="platypus-content">
            {% block content %}{% endblock content %}
        </div>
        <footer> <small>&copy; Copyright 2020 Mike Green</small> </footer>
    </body>
</html>