{% extends "base.html" %}

{% block content %}
    {% if recipe %}
        <div id="details-content">
            <div id="recipe-images">
                {% for image_url in image_url_list %}
                    <a href="{{ image_url }}"><img src="{{ image_url }}" alt="{{ recipe.title }}" /></a>
                {% endfor %}
            </div>

            <div id="text-content">
                {% if recipe.final %}
                    <h1>{{ recipe.title }}</h1>
                {% else %}
                    <h1>&#x26A0; {{ recipe.title }}</h1>
                {% endif %}
                <h2>Ingredients</h2>
                <ul>
                    {% for ingredient_item in ingredients_list %}
                        <li>{{ ingredient_item }}</li>
                    {% endfor %}
                </ul>

                <h2>Method</h2>
                <ul>
                    {% for method_item in method_list %}
                        <li>{{ method_item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% else %}
        <p>Recipe not found.</p>
    {% endif %}
{% endblock content %}
