{% extends "base.html" %}

{% block content %}
    {% if fixtures_loaded %}
        <h1>Recipes</h1>
        <div id="platypus-search_bar">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
                $( function() {
                    $( "#recipe-search-bar" ).autocomplete({
                        {% autoescape off %}source: {{ all_recipe_titles }},{% endautoescape %}
                        minLength: 1
                    });
                } );
            </script>
            <form action="/recipes" method="get">
                <input type="text" name="search_term" id="recipe-search-bar">
                <input type="submit" value="Search">
            </form>
        </div>
        <div id="platypus-category-listings">
            {% for categorised_recipe_list in categorised_recipe_lists %}
                <div id="platypus-category-listing">
                    {% if categorised_recipe_list.recipes %}
                        <h2>{{ categorised_recipe_list.category }}</h2>
                        <ul>
                            {% for recipe in categorised_recipe_list.recipes %}
                                <li><a href="{% url 'recipes:detail' recipe.pk %}">{{ recipe.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {%  endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No recipes are available.</p>
    {% endif %}
{% endblock content %}
