html {
    overflow-y: scroll;
}

a {
    color: green;
}

@media (orientation: landscape) {

    /* Header */

    #platypus-header {
        margin-bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: flex;
        align-items: center;
    }

    #platypus-title-text {
        flex: 1;
        display: flex;
    }

    #platypus-title-text-main {
        font-size: 50px;
        font-weight: bolder;
        flex: 1;
    }

    #platypus-title-text-additional {
        font-size: 13px;
        font-weight: normal;
        flex: 10;
        flex-basis: min-content;
        align-self: flex-end;
    }

    #platypus-navigation-buttons a {
        text-decoration: none;
        font-size: xx-large;
        border-left-width: 1px;
        border-left-style: solid;
        border-right-width: 1px;
        border-right-style: solid;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #platypus-recipe-title-bar {
        display: flex;
    }

    #platypus-search-form {
        padding-left: 30px;
        align-self: center;
        flex: 1;
    }

    /* Details */

    #details-content {
        display: flex;
        position: relative;
    }

    #recipe-images {
        flex: 1;
    }

    #recipe-images img {
        width: 100%;
    }

    #recipe-title-row {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    #platypus-tag-list {
        display: flex;
        gap: 10px;
    }

    #platypus-tag {
        color: green;
        border: 1px solid;
        padding: 1px 3px 0;
        border-radius: 10px;
        box-shadow: 1px 1px black;
        font-size: smaller;
    }

    /* Index */

    #platypus-category-listings {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
    }
}

@media (orientation: portrait) {

    /* Header */

    #platypus-header {
        margin-bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #platypus-title-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    #platypus-title-text-main {
        font-size: 50px;
        font-weight: bolder;
        flex: 1;
    }

    #platypus-title-text-additional {
        font-size: 13px;
        font-weight: normal;
        flex: 10;
        flex-basis: min-content;
        align-self: center;
    }

    #platypus-navigation-buttons a {
        text-decoration: none;
        font-size: x-large;
        border-left-width: 1px;
        border-left-style: solid;
        border-right-width: 1px;
        border-right-style: solid;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #platypus-recipe-title-bar {
        display: flex;
        flex-direction: column;
    }

    #platypus-search-form {
        flex: 1;
    }

    /* Details */

    #details-content {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    #recipe-images {
        flex: 1;
        display: flex;
        margin-bottom: 20px;
    }

    #recipe-images img {
        width: 95%;
    }

    #recipe-title-row {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #platypus-tag-list {
        display: flex;
        gap: 10px;
    }

    #platypus-tag {
        color: green;
        border: 1px solid;
        padding: 1px 3px 0;
        border-radius: 10px;
        box-shadow: 1px 1px black;
        font-size: smaller;
    }
}

#platypus-navigation-buttons {
    flex: 1;
    position: relative;
}

#platypus-title-text a {
    color: inherit;
    text-decoration: none;
}

#platypus-content {
    margin: 40px;
}

#text-content {
    padding-left: 30px;
    flex: 50%;
}

#text-content h1 {
    margin: 0;
}

#under-development-flag-container {
    display: inline;
}

body {
    font-family: "Karma", sans-serif;
    background-color: beige;
}

#platypus-category-listing {
    padding-right: 20px;
}

#platypus-search-form h1 {
    flex: 1;
}

#platypus-search-bar {
    width: 250px;
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    border-top-width: 1px;
    border-top-style: solid;
}