<!DOCTYPE html>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'recipes/style.css' %}">

<html>
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        {% if recipe %}
            <title>{{ recipe.title }} | Platypus | Mike Green</title>
            <script type="application/ld+json">
                {
                    "@context": "https://schema.org/",
                    "@type": "Recipe",
                    "name": "{{recipe.title}}",
                    {% if recipe %}
                    "image": [
                        "{{image_url_list|join:'", "'}}"
                    ],
                    {% endif %}
                    "author": {
                        "@type": "Person",
                        "name": "Mike Green"
                    },
                    "description": "{{recipe.title}}",
                    "keywords": "{{recipe.title}}",
                    "recipeCategory": "{{recipe.category}}",
                    "recipeIngredient": [
                        "{{ingredients_list|join:'", "'}}"
                    ],
                    "recipeInstructions": [
                        {% for method_item in method_list %}
                        {"@type": "HowToStep", "text": "{{method_item}}"},
                        {% endfor %}
                        {}
                    ]
                }
            </script>
        {% else %}
            <title>Platypus | Mike Green</title>
        {% endif %}
    </head>

    <body>
        <div id="platypus-header">
            <div id="platypus-title-text">
                <div id="platypus-title-text-main">
                    <a href="{% url 'recipes:index' %}">Platypus</a>
                </div>
                <div id="platypus-title-text-additional">
                    by <a href="https://MikeGreen.net">Mike Green</a>
                </div>
            </div>
            <div id="platypus-navigation-buttons">
                <a href="{% url 'recipes:index' %}">Recipes</a>
                <a href="{% url 'recipes:planner' %}">Planner</a>
                <a href="{% url 'recipes:about' %}">About</a>
            </div>
        </div>
        <div id="platypus-content">
            {% block content %}{% endblock content %}
        </div>




        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $( function() {
                $( "#recipe" ).autocomplete({
                    source: "{% url 'recipes:autocomplete' %}",
                    minLength: 1
                });
            } );
        </script>
        <label for="recipe">Recipe</label>
        <input type="text" name="recipe" id="recipe">




        <footer><small>&#169;</small></footer>
        <script>document.querySelector('footer small').append(` Copyright 2020-${new Date().getFullYear()} Mike Green`);</script>
    </body>
</html>
